<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Demo</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <p class="red_css yellow_background">Hello CSS</p>
    <div>Hello not CSS</div>
    <div class="red_css">Blue Color</div>
    <div class="blue_css">Red Color</div>
    <div class="yellow_background">Hello not CSS</div>

    <h1 class="title">Big black title</h1>
    <a href="http://taoxanh.vn">Tao xanh</a>
    <article></article>
</body>
</html>