<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {{ current_time }}
    <h1>{{ number_visiter }}</h1>
    Ngắn gọn và dễ nhớ
    <h1>Ngắn gọn và dễ nhớ</h1>
    <h2>Ngắn gọn và dễ nhớ</h2>
    <p>paragraph</p>
    <p>paragraph</p>
    <div>division</div>
    <div>division</div>

    <img alt="Adam Levine" src="http://www.nbc.com/the-tonight-show/content/sites/nbcutsjf/files/styles/bit_stacked_resized/public/images/2015/10/19/adam-levine.jpg?itok=g-93PQkW">
    <div></div>
    <!-- Comment here -->
    <a target="_blank" href="http://www.google.com">Go to Google!</a>
</body>
</html>