<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Food</title>
    <link rel="stylesheet" href="../static/css/style_w3css.css">
</head>
<body>
    <form class="w3-container" method="post" enctype="multipart/form-data">
        <label>Title</label>
        <input class="w3-input w3-blue-grey" type="text" name="title_old">

        <label>New Source</label>
        <input class="w3-input" type="text" name="source">

        <label>New Title</label>
        <input class="w3-input" type="text" name="title">

        <label>New Description</label>
        <input class="w3-input" type="text" name="description">

        <input type="submit" class="w3-btn w3-red" value="Update">
    </form>

</body>
</html>