<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>W3CSS Demo</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
</head>
<body>
    <button class="w3-button w3-black">Black</button>
    <button class="w3-button w3-khaki">Khaki</button>
    <button class="w3-button w3-yellow">Yellow</button>
    <button class="w3-button w3-red">Red</button>
    <button class="w3-button w3-purple">Purple</button>

    <button class="w3-btn w3-black">Black</button>
    <button class="w3-btn w3-khaki">Khaki</button>
    <button class="w3-btn w3-yellow">Yellow</button>
    <button class="w3-btn w3-red">Red</button>
    <button class="w3-btn w3-purple">Purple</button>
    <div class="w3-row">
        <div class="w3-col s3 m6 l1 w3-red">
            red
        </div>
        <div class="w3-col s9 m6 l11 w3-teal">
            teal
        </div>
    </div>
</body>
</html>